# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
Gemfile.lock

# Bundler
.bundle/
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Node (if used)
node_modules/
npm-debug.log
